/*
 * Copyright 2012-2015 Stefan Kruppa
 * 
 * This file is part of myArmy.
 *
 * myArmy is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as 
 * published by the Free Software Foundation, either version 3 of 
 * the License, or (at your option) any later version.
 *
 * myArmy is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public 
 * License along with myArmy.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
 
 "use strict";

function loadScript(url) {
	var scriptElement = document.createElement("script");
	scriptElement.src = url;
	document.getElementsByTagName("body")[0].appendChild(scriptElement);
}

loadScript("core/options.js");
loadScript("core/jquery.ba-hashchange-sk.js");
loadScript("core/version.js");
loadScript("core/Container.js");
loadScript("core/datastore.js");
loadScript("core/RemoteService.js");
loadScript("core/CachedRemoteService.js");
loadScript("core/model.js");
loadScript("core/dispatcher.js");
loadScript("core/systemstate.js");
loadScript("core/armyunit.js");
loadScript("core/detachmentdata.js");
loadScript("core/armystate.js");
loadScript("core/guistate.js");
loadScript("core/state.js");
loadScript("core/init.js");
loadScript("core/persistence.js");
loadScript("core/controller.js");
loadScript("core/gui.js");
loadScript("core/guihelper.js");
loadScript("core/guimobile.js");
loadScript("core/textService.js");
loadScript("core/dataReader.js");
loadScript("core/util.js");
loadScript("core/LanguageService.js");
loadScript("core/SystemService.js");
loadScript("core/ModificationService.js");
loadScript("core/DetachmentService.js");
loadScript("core/SelectionService.js");
loadScript("core/OptionService.js");
loadScript("core/PoolService.js");
loadScript("core/extensionManager.js");
loadScript("extensions/mainmenu/mainmenuExtension.js");
loadScript("extensions/mainmenu/mainmenuGui.js");
loadScript("extensions/designer/designerExtension.js");
loadScript("extensions/designer/chooserGui.js");
loadScript("extensions/designer/designerGui.js");
loadScript("extensions/summary/summaryExtension.js");
loadScript("extensions/summary/summaryGui.js");
loadScript("extensions/help/helpExtension.js");

var _options = {
	
	core: {
		downloadBaseUri: "http://myarmyfiles.umulmrum.de/",
		downloadPath: "/index.html"
	},
	
	extensions: [
		"MainmenuExtension",
		"DesignerExtension",
		"SummaryExtension",
		"HelpExtension"
	],
	
	help: {
		baseUri: "http://myarmydocs.umulmrum.de/",
		path: "/content/user/"
	},
		
};