/*
 * Copyright 2012-2014 Stefan Kruppa
 * 
 * This file is part of myArmy.
 *
 * myArmy is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as 
 * published by the Free Software Foundation, either version 3 of 
 * the License, or (at your option) any later version.
 *
 * myArmy is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public 
 * License along with myArmy.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.mainmenuButton { /* background-position: -1144px center; */
	background-image: url('img/note32.png');
	background-position: 7px;
}

/*****************************
 *     main menu
 *****************************/
 
.pageContent {
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 1.8em;
}

.detachmentBox {
	margin-bottom: 3px;
	padding: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*display: table-row;*/
	max-width: 45em;
	display: inline-block;
	vertical-align: top;
}

#detachmentCreator {
	background-color: #EEEEEE;
	border: 1px solid #DADADA;
	width: 26.5em;
	display: table;
	padding: 5px;
}

#detachmentCreator span {
	display: table-cell;
	width: 50%;
	text-align: center;
}

.detachmentBoxContent {
	display: table-cell;
	width: 26.5em;
}

.detachmentBoxContent .optionContainer div {
	width: 100%;
}

.detachmentBox select:first-child {
	margin-right: 3px;
}

.detachmentContainer {
	padding: 3px;
}

.detachmentContainerRow {
	display: table
}

.detachmentContainerRow span {
	display: table-cell;
	width: 50%;
}

.extension {
	font-size: 0.75em;
	border: 1px solid #DADADA;
	padding: 2px;
}

.extensionDelete {
	margin-right: 2px;
	background: url('img/cross_small.png') no-repeat center;
	width: 12px;
	display: inline-block;
	cursor: pointer;
}

/*****************************
 *     small devices
 *****************************/
@media screen and (max-width: 580px) {

	#detachmentCreator {
		display:block;
		width: 99%;
	}

	#detachmentCreator span {
		display: block;
		width: 100%;
	}

	.detachmentBox select {
		display: block;
		width: 100%;
	}

}